:root {
  --color-blue: #00FEFF;
  --color-dark: #008EA6;
  --color-grey: #C9C9C9;
  --color-orange: #F3710F;
  --color-semi-grey: #e7e5e5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px 0 0 0;
}
